WTF:
--------------------------------
{{ansible_user}}
{{ansible_ssh_pass}}

Module Variables ("vars"):
--------------------------------
{{ vars | pprint }} 

Environment Variables ("environment"):
--------------------------------
{{ environment }} 

GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names }}

GROUPS Variables ("groups"):
--------------------------------
{{ groups }}

HOST Variables ("hostvars"):
--------------------------------
{{ hostvars }} 
