system {
    replace: ntp {
        authentication-key {{key_number}} type md5 value "{{key_value}}";
        {% for server_ip in ntp_servers %} 
        server {{server_ip}} key {{key_number}};
        {% endfor %}
        trusted-key {{key_number}};
        source-address {{ mgmt_ip }};
    }
}

