snmp {
    v3 {
        usm {
            local-engine {
                user SNMPv3_RO {
                    authentication-sha {
                        authentication-password "{{snmpv3_password}}";
                    }
                    privacy-aes128 {
                        privacy-password "{{snmpv3_password}}";
                    }
                }
                user SNMPv3_RW {
                    authentication-sha {
                        authentication-password "{{snmpv3_password}}";
                    }
                    privacy-aes128 {
                        privacy-password "{{snmpv3_password}}";
                    }
                }
            }
        }
    }
}

